.spaceAroundButton {
  padding: 15px;
  margin-top: 125px;
  /*top: 10%*/
}

img {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.heading {
  position: absolute;
  top: 30px;
  /*bottom: 20px;*/
  left: 0px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

.btn {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #46797b;
  padding: 18px 25px 18px 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
}

.btn:hover {
  background: #5c6670;
  text-decoration: none;
}

.secondbutton {
  margin-top: 25px;
}

.edit {
  text-align: right;
  margin-top: 15px;
  margin-right: 15px;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.profile {
  margin-left: 1%;
  margin-top: 2.5%;
}

.center {
  margin-left: 28%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.adminLogo {
  margin-top: 3%;
  margin-left: 34%
}

.centerAdmin {
  margin-left: 40%;

}

.logout {
  margin-left: 33%;
  margin-top: 3%;
}

.name {
  font-size: 15px;
}

.title {
  margin: auto;
}

.login-field {
  margin: auto;
  margin-top: 5%;
}

.login-button-container {
  margin-top: 4%;
}

.logout-text {
  color: "black";
}

.name {
  color: #46797b;
}

.edit-icon {
  color: #46797b;
}
