ul {
  list-style-type: none;
  margin: 0;
  background: #598787;
  /*padding: 15;*/
}

li {
  display: inline-block;
  padding: 20px;
}
h3 {
  color: white;
  /*font-weight: bold;*/
  /*font: gotham;*/
  font-size: 140%;
}
