.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
}

.login-field {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.login-button {
  font-family: sans-serif;
  color: #ffffff;
  background: #46797b;
  margin-top: 15%;
  font-size: 15px;
  padding: 5px 20px 5px 20px;
  border-radius: 25%;
}

.login-button-container {
  margin: auto;
  text-align: center;
  margin-top: 2%;
}

.master {
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
}

.master-title {
  display: flex;
  flex-direction: row;
}

.editable-add-btn {
  float: right;
}

.master-table {
  margin-top: 1%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-container {
  margin-top: 5%;
}

.profile-pic {
  margin-left: 47%;
}

.edit-button {
  margin-top: 4%;
  margin-left: 47.5%;
}

.buildCampaign {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.leftTable {
  width: 47%;
}

.middle {
  width: 4%;
}
.rightTable {
  width: 47%;
}

.left-table-title {
  display: flex;
  flex-direction: row;
}

.left-title {
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* .background-gradient {
  background: linear-gradient(to bottom, #46797b 0%, #5c6670 100%);
} */

.campaignPage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.save-button {
  margin-top: 3%;
}

.save-text {
  color: #46797b;
}

.home-icon {
  color: #46797b;
}

.form-item {
  margin-top: 2.5%;
}

.campaignform {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 1%;
}

.createcampaigntables {
  display: flex;
  flex-direction: row;
  /*display: inline-block;*/
}

.campaign-title {
  font-family: 'Cantarell', serif;
  color: #46797b;
}

.successText {
  text-align: center;
  font-size: 30px;
}

.title {
  color: "white";
}

.background {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #46797b,
    #5c6670
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #46797b, #5c6670);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
