.campaign-page {
  display: flex;
  flex-direction: column;
}


h2 {
  color: #46797b;

}

.tables {
  display: flex;
  flex-direction: row;
}

.included-table {
  width: 48%;
}

.middle {
  width: 4%;
}

.not-table {
  width: 48%;
}


.search-bar {
  display: flex;
  flex-direction: row;
}

.dropdown {
  width: 50%;
  margin: auto;
}

.tableTitles {
  color: gray;
}

.search {
  display: flex;
  flex-direction: row;

}
