.campaign-page {
  display: flex;
  flex-direction: column;
}

.campaign-title {
}

.tables {
  display: flex;
  flex-direction: row;
}

.included-table {
  width: 48%;
}

.middle {
  width: 4%;
}

.not-table {
  width: 48%;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.dropdown {
  width: 50%;
  margin: auto;
}
