/*.form {
  display: inline;
}*/

/*.entireform {
  margin: 0 auto
}*/

/*.header {
    background-color: #46797b;
    display: inline-block;
}*/

.campaignform {
    display: inline-block;
}

h3 {
  color: black
}

